<div class="form-contacto estilo2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>¿Tienes dudas? Escríbenos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nombre</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Empresa</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Teléfono</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill" class="form-field full-width">
          <mat-label>Mensaje</mat-label>
          <textarea matInput rows="3"></textarea>
        </mat-form-field>
        <div class="boton-enviar">
          <button mat-raised-button color="warn">Enviar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>