<div class="page-container">
  <!-- Sección de bienvenida -->
  <mat-card class="welcome-section">
    <mat-card-content>
      <h1 class="welcome-title">Bienvenido a nuestro Sistema</h1>
      <p class="welcome-description">
        Este es un sistema de gestión que te permite administrar usuarios, roles, permisos y registros de
        de información de manera eficiente. Para acceder a las diversas funcionalidades
        del sistema, haga clic en el botón de Iniciar Sesión.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Botón de inicio de sesión -->
  <div class="login-button-container">
    <button mat-raised-button color="primary" (click)="irALogin()">
      <mat-icon>login</mat-icon>
      Iniciar Sesión
    </button>
  </div>
</div>
