@import 'swiper/css/bundle';
@import 'swiper/css';

/* slider.component.scss */
swiper-container {
  width: 100%;
  height: 100%;
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;

  &::part(bullet-active) {
    background: white;
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
